html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --black-color: #222;
}

h1, p {
  margin: 0;
}
body {
  font-family: sans-serif;
  color: var(--black-color);
}

header {
  height: 6rem;
}
header, footer {
  text-align: center;
  background: #445BDE;
  color: #fff;
}

header h1, footer p {
  line-height: 4rem;
}

main {
  min-height: calc(100vh - 10rem);
  padding: 1em;
}

#agency-input {
  width: 60%;
}

.dropdown-section {
  text-align: center;
  padding: 1em 0;
  /* width: 90%; */
}

#dropdown-select {
  margin-top: 15px;
  width: 100%;
  max-width: 450px;
}

.start-text, .no-requests {
  font-size: 20px;
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}

.start-text {
  padding-top: 5em;
}

.no-requests {
  padding-top: 3.5em;
}

#column-names {
  display: none;
}

#column-names.open {
  display: block;
}

#column-names ul {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding: 0;
}

#column-names ul li {
  padding: 6px;
}

#agency-name {
  text-align: center;
}

#info-section {
  max-width: 900px;
  margin: 0 auto;
}

#requests {
}

.disclaimer {
  font-size: 15px;
  font-style: italic;
  max-width: 450px;
  margin: 9em auto 0;
  line-height: 1.5;
  text-align: center;

}

.request {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  list-style: none;
  margin: 10px 0;
  border-top: 1px solid var(--black-color);
  padding: 10px 0 0;
}

/* .request:first-child {
  border: none;
} */

.request li {
  display: inline-block;
  padding: 6px;
}

.req-info {
  text-align: right;
}

.notes {
  grid-column: 1 / -1;
  font-style: italic;
  line-height: 1.35;
}

footer {
  height: 4rem;
}

footer a {
  color: #fff;
}

footer a:active {
  color: #ccc;
}