html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --black-color: #222;
}

h1, p {
  margin: 0;
}
body {
  font-family: sans-serif;
  color: var(--black-color);
}

header, footer {
  text-align: center;
  background: #445BDE;
  color: #fff;
  height: 4rem;
}

header h1, footer p {
  line-height: 4rem;
}

main {
  min-height: calc(100vh - 8rem);
  padding: 1em;
}

.dropdown-section {
  text-align: center;
  padding: 1em;
  width: 90%;
}

#column-names {
  display: none;
}

#column-names.open {
  display: block;
}

#column-names ul {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

#column-names ul li {
  padding: 10px;
}

#agency-name {
  text-align: center;
}

#requests {
}

.request {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  list-style: none;
  margin: 10px 0;
  border-top: 1px solid var(--black-color);
  padding-top: 10px;
}

/* .request:first-child {
  border: none;
} */

.request li {
  display: inline-block;
  padding: 10px;
}

.req-info {
  text-align: right;
}

.notes {
  grid-column: 1 / -1;
}

footer a {
  color: #fff;
}

footer a:active {
  color: #ccc;
}