html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Set a black-ish color variable
:root {
  --black-color: #222;
}

body {
  font-family: sans-serif;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h1 {
    padding: 0 0.3em;
    font-weight: 400;
    margin: 0.5em 0 0;
    line-height: 1.35;
  }

  p {
    margin-top: 1em;
  }
}

header,
.footer-link {
  text-align: center;
  // Tone down the background image so text over it is readable
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url('../images/money.jpg');
  color: #FFF;
}

main {
  padding: 2em 1em;
  flex: 1;  

  #menu {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    display: block;
  }

  .info-section {
    max-width: 900px;
    margin: 0 auto;

    .agency-name {
      text-align: center;
    }

    #requests {
      max-width: 750px;
      margin: 0 auto;

      .default-text, .no-requests {
        font-size: 20px;
        max-width: 450px;
        margin: 0 auto;
        line-height: 1.5;
        text-align: center;
      }

      .request {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 10px 0;
        border-top: 1px solid var(--black-color);
        padding: 10px 0 0;

        li {
          display: inline-block;
          padding: 6px;
        }

        .req-name, .notes {
          line-height: 1.35;
        }

        .req-info {
          display: flex;
          justify-content: space-between;
          max-width: 400px;

          p {
            margin: 0;
          }
        }

        .notes {
          font-style: italic;
        }
      }

      .request::first-of-type {
        border: none;
      }
    }
  }
}

footer {
  .disclaimer {
    font-size: 15px;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto 1em;
    padding: 0 1em;
  }

  .footer-link {
    margin: 0;
    padding: 1.5em;

    a {
      color: #FFF;
    }
  
    a:active {
      color: #CCC;
    }  
  }
}