html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --black-color: #222;
}

h1,
p {
  margin: 0;
}

body {
  font-family: sans-serif;
  color: var(--black-color);
}

header {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (min-width: 504px) {
    height: 6rem;
  }

  h1 {
    padding: 0 0.3em;

    @media (min-width: 504px) {
    }
  }
}

header,
footer {
  text-align: center;
  background: #445bde;
  color: #fff;
}

main {
  min-height: calc(100vh - 14rem);
  padding: 1em;

  @media (min-width: 504px) {
    min-height: calc(100vh - 10rem);
  }
}

#agency-input {
  width: 60%;
}

.dropdown-section {
  text-align: center;
  padding: 1em 0;

  label {
    display: block;
    margin-bottom: 0.5em;
  }
}

#dropdown-select {
  margin-top: 15px;
  width: 100%;
  max-width: 450px;
}

.start-container {
  .start-text {
  }

  .disclaimer {
    font-size: 15px;
    font-style: italic;
    max-width: 450px;
    line-height: 1.5;
    text-align: center;
    padding-top: 6em;
    margin: 0 auto;
  }
}

.start-text,
.no-requests {
  font-size: 20px;
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}

.no-requests {
  padding-top: 3.5em;
}

#agency-name {
  text-align: center;
}

#info-section {
  max-width: 900px;
  margin: 0 auto;
}

#requests {
  max-width: 750px;
  margin: 0 auto;
}

.request {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 10px 0;
  border-top: 1px solid var(--black-color);
  padding: 10px 0 0;

  li {
    display: inline-block;
    padding: 6px;
  }

  .req-name {
  }

  .req-info {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
  }

  .notes {
    font-style: italic;
    line-height: 1.35;
  }
}

.request:first-of-type {
  border: none;
}

footer {
  height: 4em;

  a {
    color: #fff;
  }

  a:active {
    color: #ccc;
  }

  p {
    line-height: 4rem;
  }
}
