html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --black-color: #222;
}

h1,
p {
  margin: 0;
}

body {
  font-family: sans-serif;
  color: var(--black-color);
}

header {
  height: 10em;

  @media (min-width: 504px) {
    height: 6rem;
  }

  h1 {
    line-height: 3rem;

    @media (min-width: 504px) {
      line-height: 4rem;
    }
  }

  p {
    margin: 1em;

    @media (min-width: 504px) {
      margin: 0;
    }
  }
}

header,
footer {
  text-align: center;
  background: #445bde;
  color: #fff;
}

main {
  min-height: calc(100vh - 14rem);
  padding: 1em;

  @media (min-width: 504px) {
    min-heigh: calc(100vh - 10rem);
  }
}

#agency-input {
  width: 60%;
}

.dropdown-section {
  text-align: center;
  padding: 1em 0;

  /* width: 90%; */
}

#dropdown-select {
  margin-top: 15px;
  width: 100%;
  max-width: 450px;
}

.start-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;

  .start-text {
    // padding-top: 5em;
    margin-bottom: 4em;
  }

  .disclaimer {
    font-size: 15px;
    font-style: italic;
    max-width: 450px;
    // margin: 9em auto 0;
    line-height: 1.5;
    text-align: center;
  }
}

.start-text,
.no-requests {
  font-size: 20px;
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}

.no-requests {
  padding-top: 3.5em;
}

#column-names {
  display: none;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding: 0;

    li {
      padding: 6px;
    }
  }
}

#column-names.open {
  display: block;
}

#agency-name {
  text-align: center;
}

#info-section {
  max-width: 900px;
  margin: 0 auto;
}

#requests {
}

.request {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  list-style: none;
  margin: 10px 0;
  border-top: 1px solid var(--black-color);
  padding: 10px 0 0;

  li {
    display: inline-block;
    padding: 6px;
  }
}

.req-info {
  text-align: right;
}

.notes {
  grid-column: 1 / -1;
  font-style: italic;
  line-height: 1.35;
}

footer {
  height: 4em;

  a {
    color: #fff;
  }

  a:active {
    color: #ccc;
  }

  p {
    line-height: 4rem;
  }
}
