<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>86th Legislature Exceptional Item Requests</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
</head>

<body>
  <header>
    <h1>LAR Exceptional Item Requests</h1>
    <p>86th Texas Legislative Session</p>
  </header>
  <main>
    <select id="menu"></select>
    <div class="info-section">
      <h2 class="agency-name"></h2>
      <div id="requests">
        <p class="default-text">Select an agency from the dropdown menu above to see all of their LAR exceptional
          item requests.</p>
      </div>
    </div>
  </main>
  <footer>
    <p class="disclaimer">Disclaimer: Unlike my wife Susie, information on this site is not guaranteed to be 100%
      perfect.</p>
    <p class="footer-link">A <a href="https://danbuda.com">Dan Buda</a> Joint</p>
  </footer>
</body>

</html>