<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
  <header>
    <h1>LAR Exceptional Item Requests</h1>
    <p>86th Texas Legislative Session</p>
  </header>
  <main>
    <div class="dropdown-section">
      <!-- <label for="dropdown-select">Find an agency: </label> -->
      <input id="agency-input" placeholder="Search by agency name" type="text" list="dropdown-select" autocomplete="off" />
      <datalist id="dropdown-select"></datalist>
    </div>
    <div id="info-section">
      <h2 id="agency-name"></h2>
      <div id="column-names">
        <ul>
          <li>Item(s)</li>
          <li class="req-info">2020</li>
          <li class="req-info">2021</li>
        </ul>
      </div>
      <div id="requests">
        <p class="start-text">Select an agency from the dropdown menu above to see all of their LAR exceptional item
          requests.</p>
        <p class="disclaimer">Information on this site is not guaranteed to be 100% perfect, unlike my wife Susie.</p>
      </div>
    </div>
  </main>
  <footer>
    <p>A <a href="https://danbuda.com">Dan Buda</a> Joint</p>
  </footer>
</body>

</html>